<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/default_layout}">
    <body>
        <!-- Content -->
        <div layout:fragment="content">
            <div class="container-fluid">
                <h1 class="mt-4">Kick-Off Adimin</h1>
                <h4>축구 커뮤니티 kick-off 어드민페이지</h4>
                <p>
                    선수, 투표, 경기 추가 가능

<!--                    Make sure to keep all page content within the-->
<!--                    <code>#page-content-wrapper</code>-->
<!--                    . The top navbar is optional, and just for demonstration. Just create an element with the-->
<!--                    <code>#sidebarToggle</code>-->
<!--                    ID which will toggle the menu when clicked.-->
                </p>
            </div>
        </div>
    </body>
</html>