<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/layouts/default_layout}">

<!-- index.html 고유 CSS 추가 -->
<!--<th:block layout:fragment="css">-->
<!--    &lt;!&ndash;    <link rel="stylesheet" th:href="@{/css/page/home.css}" >&ndash;&gt;-->
<!--</th:block>-->
<!--&lt;!&ndash; index.html 고유 스크립트 추가 &ndash;&gt;-->
<!--<th:block layout:fragment="script">-->
<!--    &lt;!&ndash;    <script th:src="@{/js/page/home.js}"></script>&ndash;&gt;-->
<!--</th:block>-->

<!-- Content -->
<div layout:fragment="content">
    <h1>Content</h1>
</div>
</html>